name: Release JS Library

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install
      - run: bun --cwd packages/library run build
      - name: Publish to npm
        working-directory: packages/library
        run: npm publish --provenance
        env:
          NPM_CONFIG_PROVENANCE: true
